<footer class="bg-light">
			<ul class="align-center horizontal footer-list">
				<li>&copy; Apptitude B.V. 2018&nbsp;</li>
				<li  class=""><a href="news/detail/300.html">Privacy</a></li><li  class=""><a href="">Disclaimer</a></li>

				
				<li class="hide-on-small"><a target="_blank" href="mailto:" class="social mail"></a></li>
				
				
				<li class="hide-on-small"><a href="" class="social twitter"></a></li>
				
				
				<li class="hide-on-small"><a href="" class="social facebook"></a></li>
				
				
				<li class="hide-on-small"><a href="" class="social instagram"></a></li>
				
			</ul>

			<ul class="align-center horizontal footer-list margin-t">
				<li><a href="https://itunes.apple.com/nl/app/apps4fashion/id459454424?mt=8#"><img src="files/visuals/made-for-ipad.png" alt="iPad" /></a></li><li><a href="https://itunes.apple.com/nl/app/apps4fashion/id459454424?mt=8#"><img src="files/visuals/made-for-iphone.png" alt="iPhone" /></a></li>
			</ul>

			<div class="align-center show-on-small">
				
					<a target="_blank" href="mailto:" class="social-icon mail"></a>
				
				
					<a href="" class="social-icon twitter"></a>
				
				
					<a href="" class="social-icon facebook"></a>
				
				
					<a href="" class="social-icon instagram"></a>
				
			</div>

		</footer>

	</div><!-- /.site-wrap -->

		<!-- Responsive navigation < 768px -->

		<section class="responsive-navigation">
			<div class="overflow">
				<ul class="responsive-menu">
					<li  class="active"><a href="index.html">Home</a></li><li  class=""><a href="apps4fashion/about.html">About</a></li><li  class=""><a href="news.html">Blog</a></li><li  class=""><a href="apps4fashion/support.html">Support</a></li><li  class=""><a href="apps4fashion/contact.html">Contact</a></li>
				</ul>

				<div class="show-on-small" style="padding-left: 10px;">
					
						<a target="_blank" href="mailto:" class="social-icon mail"></a>
					
					
						<a href="" class="social-icon twitter"></a>
					
					
						<a href="" class="social-icon facebook"></a>
					
					
						<a href="" class="social-icon instagram"></a>
					
				</div>

			</div>
		</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--<script>window.jQuery || document.write('<script src="http://colect.io/assets/js/jquery.min.js"><\/script>')</script>-->
	<script src="assets/js/all.min-v=3.js"></script>

	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-39916517-1','auto');ga('send','pageview');
	</script>

	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3T54DX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>