
	{{ partial "header.html" .}}

		<main class="">

	

					
					
				

				

				
<section class="home-hero" style="background: url('files/visuals/_bg/homepage.jpg') center center no-repeat fixed; -webkit-background-size: cover; background-size: cover;">
	<div class="hero-content block">
		<div class="grid-wrap">
			<h1 class="hero-title c-light">Your collections, lookbook and order form in one app</h1>

			<p class="hero-text c-light">Show off your own collection, order new styles and stock from your very own iPad or iPhone app. Easy to use, simple to learn. Sell more, sell better and sell faster. Colect by Apps4Fashion is the leading sales and order-entry app in use in the fashion industry today.</p>

			<a class="button inverted white" href="apps4fashion/about.html">See how it works</a><a class="button primary" href="javascript:_dcq.push(['showForm', { id: '495136430' }]);">Try the free demo</a>

		</div><!-- /.grid-wrap -->
	</div><!-- /.hero-content -->
</section>
				

				

  
	<!-- Contact unit -->
<section class="block bg-white " id="how-it-works">
	<div class="grid-wrap align-center">
		<h1 class="section-title align-center">Key features</h1>

		<div class="grid-row">
			<div class="third">
				<div class="love-img-holder">
					<span class="love-img-icon " style="height: 121px; background-image: url('files/gallery/1.png'); background-repeat: no-repeat; background-size: contain; background-position: center center;"></span>
				</div>

				<h3>Online and offline order entry</h3>
			</div><div class="third">
				<div class="love-img-holder">
					<span class="love-img-icon " style="height: 121px; background-image: url('files/gallery/save-on-samples.png'); background-repeat: no-repeat; background-size: contain; background-position: center center;"></span>
				</div>

				<h3>Save on Samples</h3>
			</div><div class="third">
				<div class="love-img-holder">
					<span class="love-img-icon " style="height: 121px; background-image: url('files/gallery/realtime-.png'); background-repeat: no-repeat; background-size: contain; background-position: center center;"></span>
				</div>

				<h3>Realtime stock levels</h3>
			</div>
		</div><!-- /.grid-row -->

		<!-- More button -->
		

	</div><!-- /.grid-wrap -->
</section>


 



 
	<section class="block double bg-white ">
	<div class="grid-wrap">

		<h1 class="section-title align-center">See it in action</h1>

		<section class="video-player">
			<div class="iframe-holder">

					<!-- Placeholder (still from video) -->
					<img src="http://img.youtube.com/vi/rNwxa7asavU/maxresdefault.jpg" class="still-image responsive">

					<!-- Video container (don't remove this!) -->
					<div class="js-video-container" data-current-video=""></div>

					<!-- Video trigger (will load the Youtube video in the data-video-url tag -->
					<a href="#" class="video-link-trigger" data-video-url="rNwxa7asavU">
						<span class="link-title"></span>
					</a>

				</div><!-- /.end iframe-holder -->

				<!-- Video thumbnails -->

				<div class="video-thumbs">
				
					<div class="video-thumb">
						<a href="#" class="thumb-link js-video-playing" data-video-url="rNwxa7asavU">
							<img src="http://img.youtube.com/vi/rNwxa7asavU/maxresdefault.jpg" class="responsive">
						</a>
					</div><div class="video-thumb">
						<a href="#" class="thumb-link " data-video-url="v7rjL2ga3XI">
							<img src="http://img.youtube.com/vi/v7rjL2ga3XI/maxresdefault.jpg" class="responsive">
						</a>
					</div><div class="video-thumb">
						<a href="#" class="thumb-link " data-video-url="eUSkZJ0MbmI">
							<img src="http://img.youtube.com/vi/eUSkZJ0MbmI/maxresdefault.jpg" class="responsive">
						</a>
					</div>
				
				</div><!-- /.thumbs -->
		</section><!-- /.video-player -->

				<!-- More button -->
		
		<div class="grid-row">&nbsp;</div>
		<div class="grid-row">
			<div class="align-center">
				<a href="signup.html" class="button primary">Start free trial</a>
			</div>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>

 



 
	<!-- Contact unit -->
<section class="block bg-light " id="our-apps">
	<div class="grid-wrap vertical-list">
		<h1 class="section-title align-center">...and why you will love them</h1>

		<div class="grid-row last">
			<div class="grid-row ">
				<div class="third">
					<img src="files/gallery/_verticalsmall/01benefitsbeelden.jpg" class="responsive">
				</div>
				<div class="twothird">
					<h3>Online and offline order entry</h3>
					<p>Connect to all your information in your backoffice system even without a connection.</p>
					<div></div>
					
				</div>
			</div><!-- /.grid-row --><div class="grid-row ">
				<div class="third">
					<img src="files/gallery/_verticalsmall/02benefitsbeelden-2.jpg" class="responsive">
				</div>
				<div class="twothird">
					<h3>Save on samples</h3>
					<p>Save on sample costs and present all color ways. With the high resolution collection images you can show your products in detail without having them with you.</p>
					<div></div>
					
				</div>
			</div><!-- /.grid-row --><div class="grid-row last">
				<div class="third">
					<img src="files/gallery/_verticalsmall/03benefitsbeelden-2.jpg" class="responsive">
				</div>
				<div class="twothird">
					<h3>Realtime stock levels</h3>
					<p>Monitor sales and update forecasts in real time whilst you sell. Access instantly updated product info, stock levels and new or dropped style. Place orders directly into your own enterprise back office system.</p>
					<div></div>
					
				</div>
			</div><!-- /.grid-row -->
		</div><!-- /.grid-row -->

	</div><!-- /.grid-wrap -->

	<!-- More button -->
	
	<!--<div class="grid-row">&nbsp;</div>-->
	<div class="align-center" style="margin-top: 33px;">
		<a href="apps4fashion/about.html" class="button primary">check all features</a>
	</div>


	

</section>
 



 
	<section class="block double bg-white ">
	<div class="grid-wrap">

		<h1 class="section-title align-center">References</h1>

		<section class="video-player">
			<div class="iframe-holder">

					<!-- Placeholder (still from video) -->
					<img src="http://img.youtube.com/vi/LKj6HDdU9jc/maxresdefault.jpg" class="still-image responsive">

					<!-- Video container (don't remove this!) -->
					<div class="js-video-container" data-current-video=""></div>

					<!-- Video trigger (will load the Youtube video in the data-video-url tag -->
					<a href="#" class="video-link-trigger" data-video-url="LKj6HDdU9jc">
						<span class="link-title"></span>
					</a>

				</div><!-- /.end iframe-holder -->

				<!-- Video thumbnails -->

				<div class="video-thumbs">
				
					<div class="video-thumb">
						<a href="#" class="thumb-link js-video-playing" data-video-url="LKj6HDdU9jc">
							<img src="http://img.youtube.com/vi/LKj6HDdU9jc/maxresdefault.jpg" class="responsive">
						</a>
					</div><div class="video-thumb">
						<a href="#" class="thumb-link " data-video-url="ePvkOKvQ98U">
							<img src="http://img.youtube.com/vi/ePvkOKvQ98U/maxresdefault.jpg" class="responsive">
						</a>
					</div><div class="video-thumb">
						<a href="#" class="thumb-link " data-video-url="Gi_0G_HV1EE">
							<img src="http://img.youtube.com/vi/Gi_0G_HV1EE/maxresdefault.jpg" class="responsive">
						</a>
					</div>
				
				</div><!-- /.thumbs -->
		</section><!-- /.video-player -->

				<!-- More button -->
		
		<div class="grid-row">&nbsp;</div>
		<div class="grid-row">
			<div class="align-center">
				<a href="apps4fashion/about.html" class="button primary">More</a>
			</div>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>

 



 
	<!-- Contact unit -->
<section class="block bg-white " id="our-apps">
	<div class="grid-wrap">
		<h1 class="section-title align-left">News</h1>

		

		
		<!-- 1 current 30 -->
		<div class="grid-row">
			
				{{ range first 3 .Data.Pages }}
          <div class="third">
                                <a href="{{ .Permalink }}"><img src="{{ .Params.Image }}" class="responsive news-image"></a>

                                <div class="box-content">
                                    <a href="{{ .Permalink }}"><h4>{{ .Title }}</h4></a>
                                    <p>{{ .Params.Intro }} <a class="" href="{{ .Permalink }}">more &rsaquo;</a></p>
                                    
                                </div>
                            </div>  


        {{ end }}

				<div class="row-spacer"></div>
		</div><!-- /.grid-row -->
		

		<!-- More button -->
		

	</div><!-- /.grid-wrap -->
</section>
 



 
	<!-- Achievements unit -->
<section class="block bg-light ">
	<div class="grid-wrap">
		<h1 class="section-title align-center">Start digitising your sales today</h1>

		<div class="align-center clear">

			<div class="slick js-clientlogos">
				
				
	

				
			</div>
		</div>
		<!-- More button -->
		
		<div class="align-center">
			<a href="signup.html" class="button primary">GET STARTED</a>
		</div>
		

	</div><!-- /.grid-wrap -->
</section>


 



 
	<!-- Achievements unit -->
<section class="block bg-white ">
	<div class="grid-wrap">
		<h1 class="section-title align-center"></h1>

		<div class="align-center clear">

			<div class="slick js-clientlogos">
				
				<div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/_logo/skechers.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/lecoq.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/dailysports.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/aqa.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/peakperformance.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/kudibal.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/_logo/tenson.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/charliechoe.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/yellowcab.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/efvaattling.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/parkeronen.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/lotto.png" class="responsive">
		</div>
	</div><div class="slick-slide">
		<div class="client-logo">
			<img src="files/gallery/_logo/fila.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/craft.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/oilily.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/cavallaro.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/denham.png" class="responsive">
		</div><div class="client-logo">
			<img src="files/gallery/_logo/plusfine.png" class="responsive">
		</div>
	</div>
				
			</div>
		</div>
		<!-- More button -->
		

	</div><!-- /.grid-wrap -->
</section>


 



</main>

		<section class="about bg-dark block">
			<div class="grid-wrap">
				<ul class="align-center horizontal c-light margin">
					
				</ul>

				<p class="c-light align-center" style="margin-bottom: 10px;"></p>

				<p class="c-light align-center small no-margin"></p>

			</div>
		</section>

		{{ partial "footer.html" .}}